/* work sans font from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* Shared Styels */
* {
    font-family: 'Lato', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

* {
    padding: 0;
    margin: 0;
}

.btn-primary {
    margin-top: 32px;
    margin-bottom: 32px;
    padding: 20px 25px;
    border-radius: 8px;
    background: #FF900E;
    border: 0;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    cursor: pointer;
}

/* header styels */
header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    color: #131313;
    font-size: 3rem;
    font-weight: 700;

}

nav>Ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
    font-weight: 500;
}

nav li a {
    text-decoration: none;
    color: #424242;
}

/* Banner styels */

.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    color: #131313;
    font-size: 4rem;
    font-weight: 700;
    margin-top: 80px;

}

.banner-description {
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    margin-top: 10px;
}

.banner-img {
    margin-top: 20px;
    width: 100%;
}

/* main styels */
main {
    max-width: 1400px;
    margin: 0 auto;
}

/* teams styels */

.teams-container {
    display: flex;
    align-items: center;
}

.teams-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.teams-content {
    padding-left: 70px;
    padding-right: 70px;
}

.teams-title {
    color: var(--dark-03, #727272);
    font-size: 3rem;
}
.teams-title .quic-list{
    columns: #727272;
    font-weight: 500;

}
.teams-title .teams-feature{
    color: #FF900E;
    font-weight: 700px;
}
.teams-title .teams-our{
    color: #131313;
    font-weight: 700;
}




/* resoponsive media quiries */
/* mobile devices */
@media screen and (max-width: 576px) {
    header {
        padding: 20px;
    }

    nav {
        flex-direction: column;
    }
}

/* tablet or medium devices */
@media screen and (min-width: 576px) and (max-width: 960px) {
    header {
        padding: 50px;
    }

    nav {
        flex-direction: column;
    }
}